/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* universal css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css */
body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
}

/* Header css start */
header {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.mobile-menu {
    color: black;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px;
}

.logo {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.menu-items {
    display: flex;
    gap: 34px;
}

.menu-items li {
    list-style: none;
    font-weight: 600;
}

.search-icon>i,
.cart-icon>i {
    color: black;
}

/* Banner style */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.banner-title {
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 70px;
}

.banner-description {
    color: var(--primary-color);
    font-weight: 600;
    width: 70%;
    margin-bottom: 20px;
}

.banner-button {
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    background-color: var(--secondary-color);
    border: transparent;
    border-radius: 41px;
}

.banner-button-icon {
    margin-left: 8px;
}
.banner-image img {
    width: 440px;
}

/* Header css end */


/* Responsive css */

/* Small device */

@media screen and (max-width:576px) {
    .navbar {
        padding: 16px 35px;
        order: 2;
    }

    .mobile-menu {
        display: block;
    }

    .home,
    .products,
    .sign-up,
    .log-in,
    .search-icon {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    .banner-image img{
        width: 202px;
        
    }
    .banner-title {
        text-align: center;
        font-size: 1.75rem;
        line-height: normal;
        margin-bottom: 15px;
    }
    .banner-description{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        padding: 30px 50px;
        order: 2;
    }

    .mobile-menu {
        display: block;
    }

    .home,
    .products,
    .sign-up,
    .log-in,
    .search-icon {
        display: none;
    }
    .banner-container {
        padding: 50px 50px;
    }
    .banner-image img{
        width: 302px;
        
    }
    .banner-title {
        font-size: 1.75rem;
        line-height: normal;
        margin-bottom: 15px;
    }
    .banner-description{
        width: 90%;
        margin-bottom: 20px;
    }
}
